article#resultPopUp {
    width: 100%;
    background: #141414;
    color: white;
    height: 100vh;
}

section.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

section.columns {
    padding: 2em 0;
    width: 50%;
}

article.timer-wrapper {
    padding-top: 2em;
}
#timer-container{
    width: 90%;
}

/* INFO WRAPPER */
section.columns.info-wrapper {
    width: 40%;
    display: inline-block;
}

section.columns.info-wrapper h3 {
    text-transform: uppercase;
    font-family: Gotham_Light;
    margin-bottom: 0.5em;
    font-size: 18px;
}

section.columns.info-wrapper #resultTitle {
    text-transform: uppercase;
    font-family: Gotham_Bold;
    font-size: 3em;

}

section.columns.info-wrapper #resultYear {
    font-family: Gotham_Bold;
    font-size: 18px;
    margin-bottom: 0.5em;
}

section.columns.info-wrapper #resultArtist {
    font-family: Gotham_Light;
    font-size: 20px;
    margin: 0.5em 0;
}

section.columns.info-wrapper #resultLocation {
    font-family: Gotham_Bold;
    margin-top: 2em;
    color: var(--redBg);
    font-size: 22px;
    margin-bottom: 0.5em;
}

section.columns.info-wrapper #resultSimilarity {
    margin: 0.5em 0;
}

#resultDescription {
    margin-top: 2em;
    line-height: 20px;
    text-align: left;
}

/* IMAGE WRAPPER */
section.columns.images-wrapper figure section {
    width: 60%;
    display: inline-block;
    margin: 1em 0;
}

section.columns.images-wrapper figure section#ourPainting {
    width: 100%;

}

section.columns.images-wrapper figure section#resultPainting {
    width: 100%;
}

section.columns.images-wrapper figure img.fake {
    width: 50%;
    float: right;
}

section.columns.images-wrapper figure img.original {
    width: 70%;
}